<form action="/uploadFiles/" method="post" enctype="multipart/form-data">
    <input type="file" name="file" accept="image/x-png,image/gif,image/jpeg">
    <input type="text" name="texto">
    <button type="submit">Upload</button>
</form>

<h3>{{mensaje}}</h3>