{{titulo}}
<form action="/productos/altaProducto" method="post">
    <input type="text" name="nombre">
    <input type="text" name="descripcion">
    <input type="text" name="precio">
    <button type="submit">Alta</button>
</form>