<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<p> <a href="/productos/alta">Agregar Producto</a> </p>
<p> <a href="/productos/mostrar">Mostrar Productos</a> </p>
<p> <a href="/productos/buscar">Buscar Productos</a> </p>