
<table class="table table-dark">
<thead>
    <th>Nombre</th>
    <th>Descripcion</th>
    <th>Precio</th>
</thead>
<tbody>
{{#each info}}
    <th>{{nombre}}</th>
    <th>{{descripcion}}</th>
    <th>{{precio}}</th>
    </tbody>
{{/each}}

</table>
