<h2>Formulario de consulta</h2>

<form action="/send" method="post">
    <input type="email" name="mail" placeholder="Mail" required>
    <p></p>
    <input type="text" name="asunto" placeholder="Asunto" required>
    <p></p>
    <textarea name="mensaje" cols="30" rows="10" placeholder="Mensaje" required></textarea>
    <p></p>
    <button type="submit">Enviar</button>
</form>

<h3>{{correcto}}</h3>